In [1]:
import pandas as pd
import json

import utils as ut

In [2]:
with open('../config/algos_repo.json', 'r') as f:
    config = json.load(f)

In [3]:
df_seeds = None
df_sems = None
df_all = None

obj = config['resources']['structure_learning_algorithms']
for alg in obj:
    try:
        df = pd.read_csv(f'../backups/run5/{alg}.csv')
    except:
        continue

    print(alg)
    params = list(obj[alg][0].keys())

    df_seed = ut.best_seeds(df, params)
    df_seed['id'] = df['id'].unique()[0]
    df_seeds = pd.concat([df_seeds, df_seed], ignore_index=True)

    df_sem = ut.best_sems(df, params)
    df_sem['id'] = df['id'].unique()[0]
    df_sems = pd.concat([df_sems, df_sem], ignore_index=True)

    df_def = ut.best_all(df, params)
    df_def['id'] = df['id'].unique()[0]
    df_all = pd.concat([df_all, df_def], ignore_index=True)

pcalg_pc
tetrad_fges
tetrad_fci
gcastle_ica_lingam
gcastle_anm
cdt_cam
gcastle_notears

In [4]:
df = pd.read_csv('results.csv', index_col=0)
df_agg = df.groupby(['id', 'graph_p', 'graph_d', 'graph_type', 'data_sem', 'data_n'], as_index=False)['SHD_pattern'].agg(['mean', 'sem']).reset_index()

In [5]:
df_agg.rename(columns={'mean': 'seed', 'sem': 'SHD_sem'}, inplace=True)
df_seeds.drop(columns=['hyper_id'], inplace=True)
df_seeds.rename(columns={'SHD_mean': 'dgp'}, inplace=True)
df_sems.rename(columns={'SHD_mean': 'sem'}, inplace=True)
df_all.rename(columns={'SHD_mean': 'def'}, inplace=True)

In [6]:
df_seeds.head(2)

   graph_p  graph_d graph_type data_sem  data_n  dgp   SHD_sem  id
0       10        1         er       gp     200  8.0  0.774597  pc
1       10        1         er       gp    1000  6.0  0.577350  pc

In [7]:
df_sems.head(2)

   graph_p  graph_d graph_type data_sem  data_n  sem   SHD_sem  id
0       10        1         er       gp     200  8.1  0.781025  pc
1       10        1         er       gp    1000  6.6  0.763035  pc

In [8]:
df_all.head(2)

   graph_p  graph_d graph_type data_sem  data_n  def   SHD_sem  id
0       10        1         er       gp     200  8.0  0.774597  pc
1       10        1         er       gp    1000  6.1  0.640312  pc

In [9]:
df_agg.head(2)

    id  graph_p  graph_d graph_type data_sem  data_n  seed   SHD_sem
0  anm       10        1         er       gp     200   5.3  0.789515
1  anm       10        1         er       gp    1000   5.1  0.706321

In [13]:
merge_key = ['id', 'graph_p', 'graph_d', 'graph_type', 'data_sem', 'data_n']
df_agg.merge(df_seeds, on=merge_key).merge(df_sems, on=merge_key).merge(df_all, on=merge_key)

/home/damian/miniconda3/envs/tf-gpu/lib/python3.9/site-packages/pandas/core/frame.py:9190: FutureWarning: Passing 'suffixes' which cause duplicate columns {'SHD_sem_x'} in the result is deprecated and will raise a MergeError in a future version.
  return merge(

,id,graph_p,graph_d,graph_type,data_sem,data_n,seed,SHD_sem_x,dgp,SHD_sem_y,sem,SHD_sem_x,def,SHD_sem_y
0,anm,10,1,er,gp,200,5.3,0.789515,5.9,0.657436,6.1,0.721880,6.1,0.721880
1,anm,10,1,er,gp,1000,5.1,0.706321,5.6,0.845905,5.6,0.845905,5.6,0.845905
2,anm,10,1,er,gumbel,200,11.6,1.407914,11.8,1.372751,11.8,1.372751,11.8,1.372751
3,anm,10,1,er,gumbel,1000,11.8,1.781385,12.3,1.782944,12.3,1.782944,12.3,1.782944
4,anm,10,1,sf,gp,200,6.2,0.489898,6.4,0.520683,6.4,0.520683,6.4,0.520683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,pc,50,4,er,gumbel,1000,199.5,6.022642,201.9,6.275968,203.0,6.153590,201.9,6.275968
332,pc,50,4,sf,gp,200,180.5,0.945751,181.4,0.871780,181.4,0.871780,181.9,0.924362
333,pc,50,4,sf,gp,1000,175.1,2.316367,176.3,2.490203,176.8,2.337140,176.3,2.490203
334,pc,50,4,sf,gumbel,200,180.4,1.557776,183.7,1.801543,183.7,1.801543,184.7,1.430229
335,pc,50,4,sf,gumbel,1000,178.6,1.400000,182.3,1.619671,183.4,1.933333,183.6,2.156128

## Todo
- plot differences